 <mat-grid-list cols="3">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card" *ngIf="otpvalidate===false">
  <mat-card-title>Login</mat-card-title>
  <br>
  <mat-card-subtitle>Enter your AD credentials</mat-card-subtitle>
  <mat-card-content>
    <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="username" name="username" >
</mat-form-field>
<br>
     <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput  [(ngModel)]="password" name="password" type="password" >
    
  </mat-form-field>
  </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="login()">Login</button>
  </mat-card-actions>
</mat-card>




<mat-card class="example-card" *ngIf="otpvalidate===true">
  <mat-card-title>OTP</mat-card-title>
  <br>
  <mat-card-subtitle>Enter OTP sent to your registered mobile number</mat-card-subtitle>
  <mat-card-content>
    <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>OTP</mat-label>
    <input matInput [(ngModel)]="otp" name="otp" >
</mat-form-field>
  </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="submitOtp()">Submit</button>
  </mat-card-actions>
</mat-card>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
<div class="spinner" *ngIf="activeSpinner">
<mat-spinner  class="matSpinner"></mat-spinner>
</div>



